In [1]:
import numpy as np
import pandas as pd
import os
os.chdir("..")
import read_zcfd
turb_data = pd.DataFrame()# Create an empty DataFrame to store the loaded data

In [2]:
def load_two_turbine(numturb, wind_speed, path):
    turb_data = pd.DataFrame()
    for filename in os.listdir(path):
        if filename.endswith('.csv'):  # Only consider CSV files
            # Extract distance and angle from the file name
            basename = os.path.splitext(filename)[0]  # Remove file extension
            parts = basename.split('_')
            angle = float(parts[1].replace('p', '.'))  # Convert 'p' to '.'
            distance = int(parts[4])
        
            filepath = os.path.join(path, filename)  # Construct the full file path
        
            data = read_zcfd.read(numturb, filepath, wind_speed,
                                np.array([[0., 0.], [distance * np.cos(np.deg2rad(270 - angle)), distance * np.sin(np.deg2rad(270 - angle))]]),
                                '{}_turbine_{}_degrees_{}_meters'.format(numturb, angle, distance))
            turb_data = pd.concat([turb_data, data])
    return turb_data

In [3]:
# Loading 2 turbine cases with 4 m/s wind speed
numturb = 2
wind_speed = 4
path = 'turbine_files/2_turbine/4_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [4]:
turb_data

,x_coord,y_coord,ref_wind_speed,wind_speed,turb_num,num_tot_turb,ID
0,0.000000,0.000000,2.990576,4,0,2,2_turbine_248.0_degrees_558_meters
1,517.368591,209.030479,2.980920,4,1,2,2_turbine_248.0_degrees_558_meters
0,0.000000,0.000000,2.983835,4,0,2,2_turbine_269.0_degrees_279_meters
1,278.957507,4.869221,2.713630,4,1,2,2_turbine_269.0_degrees_279_meters
0,0.000000,0.000000,2.994947,4,0,2,2_turbine_289.0_degrees_558_meters
...,...,...,...,...,...,...,...
1,551.130094,87.290431,3.031210,4,1,2,2_turbine_261.0_degrees_558_meters
0,0.000000,0.000000,3.003820,4,0,2,2_turbine_292.0_degrees_372_meters
1,344.912394,-139.353653,2.983299,4,1,2,2_turbine_292.0_degrees_372_meters
0,0.000000,0.000000,2.980590,4,0,2,2_turbine_240.0_degrees_279_meters
1,241.621088,139.500000,2.988703,4,1,2,2_turbine_240.0_degrees_279_meters

In [5]:
# Loading 2 turbine cases with 6 m/s wind speed
numturb = 2
wind_speed = 6
path = 'turbine_files/2_turbine/6_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [6]:
turb_data

,x_coord,y_coord,ref_wind_speed,wind_speed,turb_num,num_tot_turb,ID
0,0.000000,0.000000,2.990576,4,0,2,2_turbine_248.0_degrees_558_meters
1,517.368591,209.030479,2.980920,4,1,2,2_turbine_248.0_degrees_558_meters
0,0.000000,0.000000,2.983835,4,0,2,2_turbine_269.0_degrees_279_meters
1,278.957507,4.869221,2.713630,4,1,2,2_turbine_269.0_degrees_279_meters
0,0.000000,0.000000,2.994947,4,0,2,2_turbine_289.0_degrees_558_meters
...,...,...,...,...,...,...,...
1,488.037797,-270.523768,4.463420,6,1,2,2_turbine_299.0_degrees_558_meters
0,0.000000,0.000000,4.374046,6,0,2,2_turbine_279.0_degrees_279_meters
1,275.565047,-43.645216,3.547308,6,1,2,2_turbine_279.0_degrees_279_meters
0,0.000000,0.000000,4.401915,6,0,2,2_turbine_258.0_degrees_558_meters
1,545.806361,116.014723,4.344672,6,1,2,2_turbine_258.0_degrees_558_meters

In [7]:
# Loading 2 turbine cases with 8 m/s wind speed
numturb = 2
wind_speed = 8
path = 'turbine_files/2_turbine/8_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [8]:
# Loading 2 turbine cases with 10 m/s wind speed
numturb = 2
wind_speed = 10
path = 'turbine_files/2_turbine/10_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [9]:
# Loading 2 turbine cases with 12 m/s wind speed
numturb = 2
wind_speed = 12
path = 'turbine_files/2_turbine/12_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [10]:
# Loading 2 turbine cases with 14 m/s wind speed
numturb = 2
wind_speed = 14
path = 'turbine_files/2_turbine/14_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [11]:
# Loading 2 turbine cases with 16 m/s wind speed
numturb = 2
wind_speed = 16
path = 'turbine_files/2_turbine/16_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [12]:
# Loading 2 turbine cases with 18 m/s wind speed
numturb = 2
wind_speed = 18
path = 'turbine_files/2_turbine/18_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [13]:
# Loading 2 turbine cases with 20 m/s wind speed
numturb = 2
wind_speed = 20
path = 'turbine_files/2_turbine/20_m_s'

turb_data = pd.concat([turb_data, load_two_turbine(numturb, wind_speed, path)])

In [14]:
def load_three_turbine(numturb, wind_speed, path, coord_data_path):
    df_loc = pd.read_csv(coord_data_path, sep=',', index_col=0, header=0)

    turb_data = pd.DataFrame()  # Create an empty DataFrame to store the turbine data

    for filename in os.listdir(path):
        if filename.endswith('.csv'):  # Only consider CSV files
            basename = int(os.path.splitext(filename)[0])  # Remove file extension
            
            # Check if the basename exists in the coordinate data DataFrame
            if basename in df_loc.index:
                filepath = os.path.join(path, filename)  # Construct the full file path
                
                # Call the read_zcfd function to read turbine data
                data = read_zcfd.read(numturb, filepath, wind_speed,
                                      np.array([[df_loc.at[basename,'X0'],df_loc.at[basename,'Y0']],
                                                [df_loc.at[basename,'X1'],df_loc.at[basename,'Y1']],
                                                [df_loc.at[basename,'X2'],df_loc.at[basename,'Y2']]]
                                              ),
                                      str('%s_turbine_%sth_simulation' %(numturb, basename)))
                
                turb_data = pd.concat([turb_data, data])  # Concatenate the data to the turb_data DataFrame
            else:
                print(f"Warning: Coordinate data not found for {basename}. Skipping file.")
    
    return turb_data

In [15]:
numturb = 3
wind_speed = 6
path = 'turbine_files/3_turbine/6_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_6m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [16]:
numturb = 3
wind_speed = 8
path = 'turbine_files/3_turbine/8_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_8m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [17]:
numturb = 3
wind_speed = 10
path = 'turbine_files/3_turbine/10_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_10m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [18]:
numturb = 3
wind_speed = 12
path = 'turbine_files/3_turbine/12_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_12m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [19]:
numturb = 3
wind_speed = 14
path = 'turbine_files/3_turbine/14_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_14m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [20]:
numturb = 3
wind_speed = 16
path = 'turbine_files/3_turbine/16_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_16m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [21]:
numturb = 3
wind_speed = 18
path = 'turbine_files/3_turbine/18_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_18m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [22]:
numturb = 3
wind_speed = 20
path = 'turbine_files/3_turbine/20_m_s'
coord_data_path = 'turbine_files/3_turbine/coordinate_files/coord_20m_s.csv'

turb_data = pd.concat([turb_data, load_three_turbine(numturb, wind_speed, path, coord_data_path)])

In [23]:
turb_data=turb_data.reset_index(drop=True)

In [24]:
k=0
count=0
turb_data["IDnum"]=pd.Series(dtype=int)
for i in range(len(turb_data)):
    turb_data.at[i,"IDnum"]=k
    count = count +1
    if (count==turb_data["num_tot_turb"].iloc[i]):
        k=k+1
        count=0
turb_data["num_tot_turb"]=turb_data["num_tot_turb"].astype(int)
turb_data["turb_num"]=turb_data["turb_num"].astype(int)
turb_data["IDnum"]=turb_data["IDnum"].astype(int)

In [26]:
turb_data[turb_data['num_tot_turb']==2]

,x_coord,y_coord,ref_wind_speed,wind_speed,turb_num,num_tot_turb,ID,IDnum
0,0.000000,0.000000,2.990576,4,0,2,2_turbine_248.0_degrees_558_meters,0
1,517.368591,209.030479,2.980920,4,1,2,2_turbine_248.0_degrees_558_meters,0
2,0.000000,0.000000,2.983835,4,0,2,2_turbine_269.0_degrees_279_meters,1
3,278.957507,4.869221,2.713630,4,1,2,2_turbine_269.0_degrees_279_meters,1
4,0.000000,0.000000,2.994947,4,0,2,2_turbine_289.0_degrees_558_meters,2
...,...,...,...,...,...,...,...,...
5579,414.318034,-211.105582,19.281979,20,1,2,2_turbine_297.0_degrees_465_meters,2789
5580,0.000000,0.000000,19.223343,20,0,2,2_turbine_288.0_degrees_372_meters,2790
5581,353.793024,-114.954322,19.238297,20,1,2,2_turbine_288.0_degrees_372_meters,2790
5582,0.000000,0.000000,19.222902,20,0,2,2_turbine_290.0_degrees_558_meters,2791
5583,524.348482,-190.847240,19.262505,20,1,2,2_turbine_290.0_degrees_558_meters,2791

In [27]:
turb_data.to_csv('turb_data.csv',index=False)